/* * {margin: 0; padding: 0;} */

/* modification for topbutton copy */
.highlight{
  padding: 0px !important;
  margin: 0px !important;
  background-color: transparent !important;
  border: none !important;
}
.highlight:hover{
  background-color: #FFF !important;
}
.highlight > pre > div{
  display: flex;
  flex-direction: row-reverse; 
  position: relative;
}
.btn-copy{
  color: #FFF;
  background-color: #EB3A3A;
  border: 0;
  padding: 5px 10px;
  cursor: pointer;
}
.btn-copy:hover{
  background-color: rgba(235, 58, 58, 0.774);
}
/* modification for topbutton copy */
.autoscrollbar {
  /* background: rgb(248, 246, 246); */
  /* max-height: 300px; */
  overflow: hidden;
}

.autoscrollbar:hover{
overflow: auto;
/* transition-duration: 200ms; */
}

.mostly-customized-scrollbar::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: rgb(202, 201, 201); /* or add it to the track */
}
.mostly-customized-scrollbar::-webkit-scrollbar-thumb {
  background: rgb(122, 122, 122);
}

.blog-search-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
} 
.blog-search-input .blog-search-icon{
  position: absolute;
  right: 0px;
  top: 0px;
  height: 65px;
  width: 65px;
  text-align: center;
  line-height: 65px;
  font-size: 20px;
  color: #644bff;
  cursor: pointer;
}

.blog-search-result-item{
  color:rgb(82, 97, 236);
}

#backmachine:hover{
  font-size: 18px;
  font-weight: bold;
  color: #644bff;
}
#backmachine{
  display: none;
}


#topbutton {
  display: inline-flex;
  background-color: #FF9800;
  width: 50px;
  height: 50px;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  text-decoration: none;
}
#topbutton::after {
  display: inline-flex;
  align-items: center;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
  text-decoration: none;
}
#topbutton:hover {
  cursor: pointer;
  background-color: rgb(163, 163, 163);
  color: #fff;
}
#topbutton:active {
  background-color: #555;
  color: #fff;

}
#topbutton.show {
  opacity: 1;
  visibility: visible;
}
