<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>{{ page.title }} - {{ site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/loading.css' | relative_url}}">
  <link rel="stylesheet" href="{{ '/assets/css/output.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/syntax.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/style.css' | relative_url }}">
  <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.css" rel="stylesheet" /> -->
  <link rel="icon" href="https://benz121.github.io/logo.svg" type="image/x-icon">
</head>

<body onload="loadfunc()">
{% include loading.html %}
  <!-- navbar -->
  {% include navbar.html html=content %}
  <a id="topbutton"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
    <path fill-rule="evenodd" d="M5.23 15.79a.75.75 0 01-.02-1.06l4.25-4.5a.75.75 0 011.08 0l4.25 4.5a.75.75 0 11-1.08 1.04L10 11.832 6.29 15.77a.75.75 0 01-1.06.02zm0-6a.75.75 0 01-.02-1.06l4.25-4.5a.75.75 0 011.08 0l4.25 4.5a.75.75 0 11-1.08 1.04L10 5.832 6.29 9.77a.75.75 0 01-1.06.02z" clip-rule="evenodd" />
  </svg>
  </a>

  <!-- tabs -->

  <div class="">
    {{ content }}
  </div>
  <div id="blog-search-overlay"></div>
  <script>
    var load = document.getElementById("loading");
    function loadfunc() {
      load.style.display = 'none';
    }
  </script>
  <script>
function toggleParagraph(button) {
  var paragraph = button.previousElementSibling;
  
  if (paragraph.classList.contains('max-h-12')) {
    paragraph.classList.remove('max-h-12');
    button.textContent = 'Read Less';
  } else {
    paragraph.classList.add('max-h-12');
    button.textContent = 'Read More';
  }
}


  </script>
  <script src="https://cdn.jsdelivr.net/npm/mermaid@10.2.3/dist/mermaid.min.js" integrity="sha256-JFptYy4KzJ5OQP+Q9fubNf3cxpPPmZKqUOovyEONKrQ=" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/@panzoom/panzoom@4.5.1/dist/panzoom.min.js"></script>

  <script>
    const containers = document.querySelectorAll('.panzoom-container');

containers.forEach(function(container) {
  const panzoomInstance = Panzoom(container, {
    minScale: 0.1,
    maxScale: 10,
    contain: 'center'
  });
  container.style.overflow = 'hidden'; // Hide any overflow content

  panzoomInstance.pan(10, 10);
  panzoomInstance.zoom(1, { animate: true });
  // const zoomInButton = document.createElement('button');
  // zoomInButton.textContent = '+';
  // zoomInButton.setAttribute('id', 'zoom-in-button'); // Add the ID to the button
  // zoomInButton.classList.add('p-2','bg-red-500', 'rounded','text-white');
  // zoomInButton.addEventListener('click', function() {
  //   panzoomInstance.zoomIn();
  // });
  // container.parentElement.parentElement.appendChild(zoomInButton, container);

  // const zoomoutButton = document.createElement('button');
  // zoomoutButton.textContent = '-';
  // zoomoutButton.setAttribute('id', 'zoom-out-button'); // Add the ID to the button
  // zoomoutButton.classList.add('p-2','bg-red-500', 'rounded','text-white');
  // zoomoutButton.addEventListener('click', function() {
  //   panzoomInstance.zoomOut();
  // });
  // container.parentElement.parentElement.appendChild(zoomoutButton, container);

  container.addEventListener('wheel', function(event) {
    panzoomInstance.zoomWithWheel(event);
  });
});

  </script>
</body>

  <script src="{{ '/assets/clipboard.min.js' | relative_url }}"></script>
  <script src="{{ '/assets/copy.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/search-script.js' | relative_url }}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<!-- Configuration -->

<script>
  SimpleJekyllSearch({
    searchInput: document.getElementById('search-input'),
    resultsContainer: document.getElementById('postsearchresult'),
    json: "{{ '/search.json' | relative_url }}",
    searchResultTemplate: '<li class="pl-4 pr-2 py-1 border-b-2 group border-gray-100 relative cursor-pointer hover:bg-gray-100 hover:text-gray-900">\
      <a href="{{ site.baseurl }}{url}" class="no-underline blog-search-result-item">\
          <span class="text-base font-semibold">{title} <span class="text-xs px-4 no-underline font-mono font-light"> -{alias}</span></span>\
          <br><span class="text-xs no-underline capitalize"> {url}</span>\
      </a>\
  </li>',
    limit: 1000,
    debounceTime: 10
  })
</script>
<!--  <br><span style="font-size:10px;color:gray;">{date} | date_to_string</span>\ -->
<script>
  var searchInput = $("#search-input");
  var searchResults = $("#postsearchresult");

  $(document).click(function (e) {
    if ($(e.target).closest('#search-input, #postsearchresult').length == 0) {
      searchResults.hide();
      document.querySelector(".searchinp").classList.remove("active");
      document.getElementById("blog-search-overlay").classList.remove("blog-search-overlay");
      document.getElementById("postsearchresult1").classList.add("hidden");
    }
  });
</script>
<script>
  // const searchWrapper = document.querySelector(".searchinp");
  const inputBox = document.querySelector("#search-input");
  var searchResults = $("#postsearchresult");
  inputBox.onkeyup = (e) => {
    let userData = e.target.value;
    if (userData) {
      searchResults.show();
      document.querySelector(".searchinp").classList.add("active");
      document.getElementById("blog-search-overlay").classList.add("blog-search-overlay");
      document.getElementById("postsearchresult1").classList.remove("hidden");
      

    } else {
      document.querySelector(".searchinp").classList.remove("active");
      document.getElementById("blog-search-overlay").classList.remove("blog-search-overlay");
    }
  }
</script>
<script>
  var btn = $('#topbutton');
  $(window).scroll(function () {
    if ($(window).scrollTop() > 300) {
      btn.addClass('show');
    } else {
      btn.removeClass('show');
    }
  });

  btn.on('click', function (e) {
    e.preventDefault();
    $('html, body').animate({ scrollTop: 0 }, '300');
  });
</script>
<script>

  $(window).on('scroll',function () {
    if ($(window).scrollTop() > 330) {
      $('.displayonscroll').css({'display': 'flex'});
    } else {
      $('.displayonscroll').css({'display': 'none'});
    }
  });

</script>

</html>
